<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="uft-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../styles/main.css">
		<title>Pera</title>
	</head>
	<body class="page">
		<main>
			<header>
				<h1>Text</h1>
				<p>All the text elements available in HTML</p>
			</header>
			<section>
				<h2>Paragraphs</h2>
				<p>This is an paragraph</p>
			</section>
			<section>
				<h2>Quote</h2>
				<q>This is an inline quote</q>
			</section>
			<section>
				<h2>Blockquote</h2>
				<blockquote>This is an blockquote</blockquote>
			</section>
			<section>
				<h2>Preformatted Text</h2>
				<pre>This is an preformatted text</pre>
			</section>
			<section>
				<h2>Abbreviation</h2>
				<abbr title="TIAA">This is an abbreviation</abbr>
			</section>
			<section>
				<h2>Bring Atention Text</h2>
				<b>This is an element to draw the reader's attention</b>
			</section>
			<section>
				<h2></h2>
			</section>
			<cite></cite>
			<em></em>
			<i></i>
			<mark></mark>
			<s></s>
			<samp></samp>
			<small></small>
			<span></span>
			<strong></strong>
			<sub></sub>
			<sup></sup>
			<time></time>
			<u></u>
			<var></var>
			<ruby></ruby>
			<hr>
			<wbr>
		</main>
	</body>
</html>
