<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Article</title>

		<link rel="stylesheet" href="../styles/reset.css" />
		<link rel="stylesheet" href="../styles/vars.css" />
		<link rel="stylesheet" href="../styles/main.css" />
	</head>
	<body>
		<main class="page">
			<article class="article">
				<header>
					<h1>Example of an article</h1>
				</header>
				<section>
					<!-- It seems now we is required use width and height  with picsum.photos -->
					<img
						src="https://picsum.photos/id/1060/300/300"
						alt="image from picsum.photos"
					/>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
						perferendis reprehenderit neque corporis cupiditate natus iste nobis
						accusantium veritatis, impedit sit, ab, facilis nemo delectus
						suscipit quas! Velit, nobis beatae.
					</p>
					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia
						facere sunt nisi assumenda, nihil similique impedit veniam
						perspiciatis et! Perferendis.
					</p>
				</section>

				<footer>
					<p>Lorem ipsum dolor sit.</p>
				</footer>
			</article>
			<article class="article article-left">
				<!-- we should have a content element -->
				<header>
					<h1>Example of an article</h1>
				</header>
				<section class="article-container">
					<nav class="sidebar">
						<ul class="vertical-links">
							<li><a href="#">Interest Link</a></li>
							<li><a href="#">Interest Link</a></li>
							<li><a href="#">Interest Link</a></li>
							<li><a href="#">Interest Link</a></li>
							<li><a href="#">Interest Link</a></li>
							<li><a href="#">Interest Link</a></li>
							<li><a href="#">Interest Link</a></li>
						</ul>
					</nav>
					<section class="article-inner">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
							perferendis reprehenderit neque corporis cupiditate natus iste
							nobis accusantium veritatis, impedit sit, ab, facilis nemo
							delectus suscipit quas! Velit, nobis beatae.
						</p>
						<p>
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia
							facere sunt nisi assumenda, nihil similique impedit veniam
							perspiciatis et! Perferendis.
						</p>
						<p>
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia
							facere sunt nisi assumenda, nihil similique impedit veniam
							perspiciatis et! Perferendis.
						</p>
						<p>
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia
							facere sunt nisi assumenda, nihil similique impedit veniam
							perspiciatis et! Perferendis.
						</p>
						<p>
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia
							facere sunt nisi assumenda, nihil similique impedit veniam
							perspiciatis et! Perferendis.
						</p>
					</section>

					<footer>
						<p>Lorem ipsum dolor sit.</p>
					</footer>
				</section>
			</article>

			<article class="article article-right">
				<header>
					<h1>Example of an article</h1>
				</header>
				<section class="article-container">
					<section class="article-inner">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
							perferendis reprehenderit neque corporis cupiditate natus iste
							nobis accusantium veritatis, impedit sit, ab, facilis nemo
							delectus suscipit quas! Velit, nobis beatae.
						</p>
						<p>
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia
							facere sunt nisi assumenda, nihil similique impedit veniam
							perspiciatis et! Perferendis.
						</p>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
							perferendis reprehenderit neque corporis cupiditate natus iste
							nobis accusantium veritatis, impedit sit, ab, facilis nemo
							delectus suscipit quas! Velit, nobis beatae.
						</p>
						<p>
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia
							facere sunt nisi assumenda, nihil similique impedit veniam
							perspiciatis et! Perferendis.
						</p>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
							perferendis reprehenderit neque corporis cupiditate natus iste
							nobis accusantium veritatis, impedit sit, ab, facilis nemo
							delectus suscipit quas! Velit, nobis beatae.
						</p>
						<p>
							Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia
							facere sunt nisi assumenda, nihil similique impedit veniam
							perspiciatis et! Perferendis.
						</p>
						
						<footer>
							<p>Lorem ipsum dolor sit.</p>
						</footer>
					</section>

					<nav class="sidebar">
						<ul class="vertical-links">
							<li><a href="#">Interest Link</a></li>
							<li><a href="#">Interest Link</a></li>
							<li><a href="#">Interest Link</a></li>
							<li><a href="#">Interest Link</a></li>
							<li><a href="#">Interest Link</a></li>
							<li><a href="#">Interest Link</a></li>
							<li><a href="#">Interest Link</a></li>
						</ul>
					</nav>
				</section>
			</article>
		</main>
	</body>
</html>
