<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Card | Pera</title>

		<link rel="stylesheet" href="../../styles/main.css" />
	</head>
	<body>
		<main class="page">
			<h1>Example of a grid with 4 cards</h1>
			<section class="grid col-4">
				<article class="card">
					<h1>A card's title</h1>
					<p>
						Content of this card Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Beatae mollitia quos possimus.
					</p>
				</article>
				<article class="card">
					<section class="card-header">
						<h1>A card's title</h1>
					</section>
					<p>
						Content of this card Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Beatae mollitia quos possimus.
					</p>
				</article>
				<article class="card">
					<h1>A card's title</h1>
					<p>
						Content of this card Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Beatae mollitia quos possimus.
					</p>
				</article>
				<article class="card">
					<section class="card-header">
						<h1>A card's title</h1>
					</section>
					<p>
						Content of this card Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Beatae mollitia quos possimus.
					</p>
				</article>
				<article class="card">
					<h1>A card's title</h1>
					<p>
						Content of this card Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Beatae mollitia quos possimus.
					</p>
				</article>
			</section>
			<h1>Example of a grid with 6 cards</h1>
			<section class="grid col-6">
				<article class="card">
					<h1>A card's title</h1>
					<p>
						Content of this card Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Beatae mollitia quos possimus.
					</p>
				</article>
				<article class="card">
					<section class="card-header">
						<h1>A card's title</h1>
					</section>
					<p>
						Content of this card Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Beatae mollitia quos possimus.
					</p>
				</article>
				<article class="card">
					<h1>A card's title</h1>
					<p>
						Content of this card Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Beatae mollitia quos possimus.
					</p>
				</article>
				<article class="card">
					<section class="card-header">
						<h1>A card's title</h1>
					</section>
					<p>
						Content of this card Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Beatae mollitia quos possimus.
					</p>
				</article>
				<article class="card">
					<h1>A card's title</h1>
					<p>
						Content of this card Lorem ipsum dolor sit amet consectetur
						adipisicing elit. Beatae mollitia quos possimus.
					</p>
				</article>
			</section>
		</main>
	</body>
</html>
