
body {
	font-size: calc(2 * var(--font-size));
	font-family: var(--fonts-sans-serif);
	line-height: calc(2 * var(--padding));
	color: var(--color-smoky-black);
	background-color: var(--color-white-smoke);
}

.page {
	width: 80%;
	margin: 0 auto;
}

.title,
.heading1 {
	font-size: var(--heading1);
}

.subtitle,
.heading2 {
	font-size: var(--heading2);
}

.heading3 {
	font-size: var(--heading3);
}

.heading4 {
	font-size: var(--heading4);
}

/* Styles for articles */
.article {
	margin: var(--margin-article);
	padding: var(--padding-article);
	background-color: var(--color-white);
	border-radius: var(--corner);
	box-shadow: var(--shadow2);
}

.article-title {
	text-align: center;
	margin-bottom: calc(4 * var(--margin));
}

.article-content {
}

.article-footer {
	text-align: center;
}

.article-thumbnail {

}

.article-preview {

}


.article--left .article-container{
	display: grid;
	grid-template-columns: 200px 1fr;
	gap: var(--padding)
}

.article--right .article-container{
	display: grid;
	grid-template-columns: 1fr 200px;
	gap: var(--padding)
}

.article--center .article-container {
	display: grid;
	grid-template-columns: 200px 1fr 200px;
	gap: var(--padding);
}


.article--two-columns .article-content {
	display: block;
	columns: 2;
}

.article--columns .article-content {
	display: initial;
	columns: var(--columns-default);
}

/* Grid rules */

.grid {
	display: grid;
	margin: 2rem 0;
}

.col-3 {
	grid-template-columns: repeat(3, 1fr);
	gap: var(--padding);
}

.col-4 {
	grid-template-columns: repeat(4, 1fr);
	gap: var(--padding);
}

.col-6 {
	grid-template-columns: repeat(6, 1fr);
	gap: var(--padding);
}

/* Card's components */

.card {
	margin: var(--margin-card);
	padding: var(--padding-card);
	background-color: var(--color-white);
	border-radius: var(--corner);
	box-shadow: calc(2 * var(--shadow2));
	border-color: var(--border-color2);
}


/*@TODO:  Investigate about selectors to use here*/
.card-thumbnail {
	margin: 0;
}

.card-header {
	padding: 0 calc(1.25 * var(--padding-card));
	border-bottom: 0.1rem solid var(--border-color1);
}

.card-footer {
	border-top: 0.1rem solid var(--border-color1);
}

.card-content {

}


.footer {

}

.header {

}

.table {

}

.form {
	
}


.lists {
	
}

.list-tags {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	list-style: none;
}

.list-tags li,
.list-tags .item {
	padding: 0.5rem 1rem;
	background-color: var(--tag-background);
	border: 1px solid var(--tag-border);
	color: var(--tag-text);
	margin-right: 0.5rem;
	border-radius: 1rem;
}
