/* Articles */
body {
	font-size: calc(2 * var(--font-size));
	font-family: var(--fonts-sans-serif);
	line-height: calc(2 * var(--padding));
	color: var(--color-smoky-black);
	background-color: var(--color-white-smoke);
}

/* Maybe I change this later, still WIP */
.page {
	width: 80%;
	margin: 0 auto;
}

.title {
	font-size: 3rem;
}

.subtitle {
	font-size: 2.4rem;
}

.article {
	margin: var(--margin-article);
	padding: var(--padding-article);
	background-color: var(--color-white);
	border-radius: var(--corner);
	box-shadow: var(--shadow-02);
}

.article-title {
	text-align: center;
	margin-bottom: calc(4 * var(--margin));
}

.article-content {
	/* 
	This need a new approach
	*/
}

.article-footer {
	text-align: center;
}

.article--left .article-container{
	display: grid;
	grid-template-columns: 200px 1fr;
	gap: var(--padding)
}

.article--right .article-container{
	display: grid;
	grid-template-columns: 1fr 200px;
	gap: var(--padding)
}

.article--center .article-container {
	display: grid;
	grid-template-columns: 200px 1fr 200px;
	gap: var(--padding);
}


.article--two-columns .article-content {
	display: unset;
	columns: 2; 
}

.article--columns .article-content {
	display: initial;
	columns: var(--columns);
}

/* Grid rules */

.grid {
	display: grid;
	margin: 2rem 0;
}

.col-3 {
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

.col-4 {
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}

.col-6 {
	grid-template-columns: repeat(6, 1fr);
	gap: 1rem;
}

/* Card's components */

.card {
	margin: var(--margin-card);
	padding: var(--padding-card);
	background-color: var(--color-white);
	border-radius: var(--corner);
	box-shadow: calc(2 * var(--shadow-02));
	border-color: var(--border-color-02);
}


/*@TODO:  Investigate about selectors to use here*/
.card-thumbnail {
	margin: 0;
}

.card-header {
	padding: 0 calc(1.25 * var(--padding-card));
	border-bottom: 0.1rem solid var(--border-color-01);
}

.card-footer {
	border-top: 0.1rem solid var(--border-color-01);
}

