:root {
	--fonts-serif: 'Times New Roman', 'Garamound', 'Georgia', 'Palatino';
	--fonts-sans-serif: 'Helvetica', 'Arial', 'Futura', 'Gadget', 'Lucida Grande', 'Verdana';
	--fonts-monospace: 'Lucida Console', 'Monaco', monospace;

	--font-size: 10px;

	--heading1: 2.6rem;
	--heading2: 2.3rem;
	--heading3: 2rem;
	--heading4: 1.7rem;
	
	--padding: 1rem;
	--margin: 1rem;

	--padding-article: 2rem 4rem;
	--margin-article: 2rem;
	--padding-card: 1rem;
	--margin-card: 1rem;
	
	--corner1: 4px;
	--corner2: 8px;
	--corner3: 16px

	--columns-default: 2; /* you could change this */

	--color-smoky-black: #100c08;
	--color-snow: #fffafa;
	--color-white-smoke: #f5f5f5;
	--color-white: #fff;

	/**
	--color-primary: ;
	--color-secondary: ;
	--color-terciary: ;
	
	--color-primary--opacity: ;
	--color-secondary--opacity: ;
	--color-terciary--opacity: ;
	
	*/

	--border-color1: #cbcbcb;
	--border-color2: #9a9a9a;
	--border-color3: #424242;
	--border-color4: #232323;

	/* Used for box-shadow */
	--shadow1: 0px 2px 4px rgba(55, 55, 55, 0.1);
	--shadow2: 0px 4px 8px rgba(55, 55, 55, 0.1);
	--shadow3: 0px 8px 16px rgba(55, 55, 55, 0.1);
	--shadow4: 0px 16px 24px rgba(55, 55, 55, 0.1);
	--shadow5: 0px 24px 32px rgba(55, 55, 55, 0.1);

	--hero-background: #cbcbcb;

	--lists-offset: 2rem;

	--tag-background: #7fffd4;
	--tag-border: #89cff0;
	--tag-text: var(--color-smoky-black);
	
}
